body{
    font-family: 'Raleway', sans-serif;
    color: #0a0a0a;
    background: white;
    font-size: 14px;
    line-height: 24px; }

    
.btn-blue {
  background: rgb(45,89,187);
background: linear-gradient(90deg, rgba(45,89,187,1) 40%, rgba(106,106,199,1) 100%);
    padding: 10px 28px;
    border: 2px solid #44c5ee;
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-transition: 0.5s all;
            transition: 0.5s all;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    outline: none !important; }
   
    .butn{
      background: rgb(45,89,187);
      background: linear-gradient(90deg, rgba(45,89,187,1) 40%, rgba(106,106,199,1) 100%);
          padding: 10px 28px;
          border: 2px solid #44c5ee;
          color: #fff;
          border-radius: 50px;
          font-weight: 700;
          letter-spacing: 0.08em;
          -webkit-transition: 0.5s all;
                  transition: 0.5s all;
          box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
          outline: none !important;
    }
  
  .btn-blue:hover,
  .btn-blue:focus,
  .btn-blue:active {
    background: rgb(99, 76, 230);
    color: white; }

    #navbar-menu .scroll:hover{
      background:  rgb(113, 94, 241);
    color: #fdfdfd;
    }

    #navbar-menu li:active{
      background-color: rgb(199, 149, 245);
    }

    
#logo{
  margin-left: 300px;
}
h1 {
    font-size: 48px;
    font-weight: 700;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.08em;
    margin-bottom: 35px;
    margin-left: 50px;
    color: rgb(118, 73, 241); }
  
  h2 {
    font-size: 36px;
    letter-spacing: 0.08em;
    font-family:'Trebuchet MS' }
  
  h3 {
    font-size: 28px;
    font-family:  'Trebuchet MS';
    letter-spacing: 0.08em;
    margin-left: 50px; 
  color: rgb(6, 6, 6);}
  
  h4 {
    font-size: 24px;
    letter-spacing: 0.08em; }
  
  h5 {
    font-size: 18px;
    letter-spacing: 0.08em; }
  
  h6 {
    font-size: 16px; }
  
  p {
    font-size: 15px;
    letter-spacing: 0.08em;
    line-height: 24px; }

   .middle {
      height: 100%;
      background-size: auto;
      background-repeat: no-repeat;
    }
    p1 {
      font-size: 24px;
      font-family:  'Trebuchet MS';
      color: rgb(233, 230, 239); }
      p2{
        margin-left: 5px;
      }

      p4 {
        font-size: 24px;
        font-family:Footlight MT;
        color: rgb(5, 5, 5); }
        p2{
          margin-left: 5px;
        }
    
      
      p3{
        float:right;
        margin-right: 5px;
      }

      .abt{
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 0px 60px 0px rgb(181, 170, 250);
        padding: 20px; 
        width: 80%;
        height: 80%;
        color: #000;
        margin-left: 10px;
      }
     

      footer{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 100%;
    
        padding-top: 40px;
        color: #fff;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 2.1rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #cacdd2;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
        border: 1.1px solid white;
        padding: 5px;
        border-radius: 50%;
    
    }
    .socials a i{
        font-size: 1.1rem;
        width: 20px;
        transition: color .4s ease;
    
    }
    .socials a:hover i{
        color: aqua;
    }
    
    .footer-bottom{
        background: #000;
        width: 100%;
        padding: 20px;
    padding-bottom: 40px;
        text-align: center;
    }
    .footer-bottom p{
    float: left;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    #team {
      text-align: center; }
      #team .team-member {
        background: #fff;
        box-shadow: 0px 0px 60px 0px rgba(150, 176, 247, 0.975);
        border: 0;
        margin-top: 80px;
        padding: 20px; }
      
        #team .team-member .team-social ul {
          padding: 0;
          margin: 0; }
        #team .team-member .team-social li {
          display: inline-block; }

          
    
    
    


